# sudo ln -s /this/file /etc/nginx/conf.d/
# nginx 端后台程序设置

server {
    listen {{PORT}};
    server_name {{SERVER_NAME}};

    default_type 'text/html';
    charset utf-8;
    client_max_body_size 235M;

    autoindex_exact_size off;
    autoindex_localtime on;

    fancyindex on;
    fancyindex_exact_size off;
    fancyindex_name_length 100;

    location / {
        default_type "application/octet-stream";
        root {{APP_ROOT}}/ftp-root;
        fancyindex_header "/.header.html";
        fancyindex_footer "/.footer.html";
        fancyindex_ignore ".footer.html" ".header.html";
    }
    sendfile on;
    gzip on;

    location = /query {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:{{SOCK_PORT}};
    }

}
